body {
    font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
    color: #263743
}
h1, h2, h3, h4, h5, h6 {
  letter-spacing: 1.5px;
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
}

h3, h5 {
  font-weight: 700;
}

select {
    margin-bottom: 15px !important;
    border-color: #efefef !important;
    background-color: #dae5d957 !important;
}
.form-input, .form-textarea, .form-select, .form-multiselect {
    border-color: #cbe4c9 !important;
}

input:focus, 
input.form-checkbox:checked:focus,
input[type='radio']:checked:focus,
select:focus,
.form-select:focus,
select.form-select:focus,
.form-input:focus {
    outline: 2px solid #F6BE5C !important;
    --tw-ring-color: transparent;
    border: none !important;
}
input:active, 
input.form-checkbox:checked:active,
input[type='radio']:checked:active,
select:active,
.form-select:active,
select.form-select:active,
.form-input:active,
.form-input:focus, .form-textarea:focus, .form-select:focus, .form-multiselect:focus
{
    outline: none !important;
    border: 2px solid #F6BE5C !important;
    --tw-ring-color: transparent !important;
}

textarea:focus,
.form-input:focus, 
textarea.form-input:focus {
    border: 2px solid #F6BE5C !important;
    outline: none !important;
    --tw-ring-color: transparent !important;
}

.tab-button {
    color: #ccc;
    border-bottom: 1px solid #ccc;
}
.tab-button.active {
    color: #4FBFD7;
    border-bottom: 1px solid #4FBFD7;
}

.tab-button:focus {
    outline: none;
    border: none;
    border-bottom: 1px solid #4FBFD7;
}

.tab-content {
    padding: 10px;
}

.label {
    font-weight: 700;
    font-size: 1em;
    color: #F6BE5C;
    margin: 10px 0;
}
.select-label {
    font-weight: 600;
    font-size: 0.8em;
    color: #263743;
    margin-bottom: 7px;
}
.w100 {
    width: 100%;
}

.custom-audio-player {
    background-color: #F6BE5C;
}

#top {
    padding: 5px 20px;
}

.columns {
    display: flex;
    width: 100%;
}

.column {
    flex: 1;
    padding: 20px;
    flex: 1 1 0%;
}

.column-divider {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    scroll-margin-top: 5rem;
}
.thin-line {
    width: 1px;
    height: 100%;
    background-color: #efefef;
    scroll-margin-top: 5rem;
}
.form-select {
    font-size: .85rem !important;
}

#infoBox {
    background-color: #f2f6f2;
    min-height:100px;
    font-size: 80%;
    line-height: 1.2;
    font-family: 'Monaco';
}

#textOutput {
    color: #000000;
    background-color: #f2f6f2;
    min-height:100px;
    font-size: 80%;
    font-family: 'Monaco';
}
.info-field {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #efefef;
    border-color: #efefef;
    font-size: 80%;
}

#textInput {
    width: 100%;
    min-height:195px;
    padding: 10px;
    color: #fff;
    font-size: 15px;
    margin-bottom: 2px;
    background-color: #bedcbb57;
    border-color: #dae5d9;
    color: #263743;
}
#textInput::placeholder {
    color: #aeaeae;
}

#progress_bar {
    width: 100%;
}

.dropzone {
    background-color: #f2f6f2;
    color:#999;
    transition: 0.3s background-color ease-in-out;
    transition: 0.5s height ease-in-out;
    cursor: pointer;
    height: auto;
}
.dropzone:hover,
.dropzone.hover {
    background-color: #f2f6f2;
    border-color: #CBE4C9;
}
.dropzone-content {
    transition: 0.5s height ease-in-out;
    height: auto;
}

progress[value]::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 5px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    height: 10px;
}
progress[value]::-webkit-progress-value {
    background-image: -webkit-linear-gradient(left, #8ec98a, #F6BE5C);
      border-radius: 5px; 
}
@-webkit-keyframes animate-stripes {
    100% { background-position: -100px 0px; }
}
@keyframes animate-stripes {
    100% { background-position: -100px 0px; }
}
progress[value]::-webkit-progress-value::before {
    content: '80%';
    position: absolute;
    right: 0;
    top: -125%;
}
progress[value]::-webkit-progress-value::after {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    border-radius: 100%;
    right: 7px;
    top: 7px;
    background-color: white;
}
progress[value] {
    background-color: #eee;
    border-radius: 5px;
    height: 10px;
}
progress[value]::-moz-progress-bar {
    background-image: linear-gradient(to right, #F6BE5C, #8ec98a);
    border-radius: 5px;
}

#recordButton:focus,
#recordButton:active {
    outline: none;
}
#recordButton.recording {
    border-radius: 50%;
    transition: border-radius 0.3s ease-in-out;
  }
