

{% extends 'endpoints/base.html' %}
{% block content %}

    <div class="pl-5 pr-5 max-w-7xl mx-auto min-h-screen">
        <div id="top">
            <h2 class="text-2xl font-bold text-aime_blue mt-3">AIME API Demo: WhisperX</h2>
        </div>
		<div id="layout" class="columns flex flex-col md:flex-row">
		<!-- LEFT COLUMN -->
		<form class="column md:container input-col relative md:flex-1 pb-4 min-w-0" onsubmit="return false;">
			<h3 class="mb-4 flex items-center justify-between text-aime_blue text-lg">INPUT</h3>
			<div class="flex">
				<button id="tab_button_audio_input" class="tab-button active" data-tab="tab_audio_input" data-tab-group="input">
					<h3 class="text-lg pl-4">Audio</h3>
				</button>
			</div>
			<div id="tab_audio_input" class="tab-content p-0 mt-5" data-tab-group="input">
				<div class="w-full flex items-center">
					<div id="dropzone" class="w-full rounded flex flex-col items-center justify-center"></div>
					<button id="recordButton" 
							type="button" 
							title="Click to start recording audio."
							class="border-gray border-1 bg-gray-100 hover:bg-aime_blue active:bg-aime_red border-2 hover:border-aime_blue active:border-aime_red border-dashed focus:border-dashed hover:border-solid active:border-solid text-aime_darkblue hover:text-white font-bold py-2 px-2 ml-10 rounded-lg"
							onclick="startStopRecording()">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M12 18.75a6 6 0 0 0 6-6v-1.5m-6 7.5a6 6 0 0 1-6-6v-1.5m6 7.5v3.75m-3.75 0h7.5M12 15.75a3 3 0 0 1-3-3V4.5a3 3 0 1 1 6 0v8.25a3 3 0 0 1-3 3Z" />
						</svg>
					</button>
				</div>
			</div>	

			<p class="label mt-5 text-lg font-semibold">Settings</p>

			<div class="w-full flex flex-col space-y-6">
				<div class="flex flex-col md:flex-row space-x-4 items-center w-full">
					<div class="w-full md:w-1/2">
						<label for="srcLang" class="select-label block">Source language:</label>
						<select id="srcLang" name="srcLang" class="langselector form-select w-full rounded-md"></select>
					</div>
					<div class="w-full md:w-1/2">
						<label for="subFile" class="select-label block">Subtitle file format:</label>
						<select id="subFile" name="subFile" class="subselector form-select w-full rounded-md"></select>
					</div>
				</div>
			
				<div class="flex flex-col w-full">
					<p class="select-label">Chunk Size</p>
					<input type="range" min="15" max="45" value="30" class="slider w-full" id="chunk_size_slider"
						   oninput="document.getElementById('chunk_size').innerHTML = this.value">
					<label for="chunk_size" id="chunk_size" class="text-sm">30</label>
				</div>
			</div>
			
			<div class="flex justify-end mt-8 mb-10">
				<button id="sendButton" type="button" class="bg-aime_orange hover:bg-aime_blue active:bg-aime_darkblue text-aime_darkblue hover:text-white font-bold py-2 px-4 rounded-lg" onclick="onButtonClick();">
					Transcribe
				</button>				
			</div>
			
		</form> <!-- /END LEFT COLUMN -->


			<!-- DIVIDER -->
			<div class="column-divider" role="separator">
				<div class="thin-line"></div>
			</div><!-- /END DIVIDER -->

			<!-- RIGHT COLUMN -->
			<div id="output_section" class="column md:container output-col md:flex-1 pb-4 min-w-0">
				<div class="flex">
					<button id="tab_button_output" class="tab-button active" data-tab="tab_output">
						<h3 class="text-lg pr-4">OUTPUT</h3>
					</button>
				</div>
				<div id="tab_output" class="tab-content">
					<div id="progress_container" class="w100">
						<p class="label">Progress</p>
						<span id="progress_label" class="text-sm"></span>
						<label id="tasks_to_wait_for" class="text-sm"></label>
						<label id="estimate" class="text-sm"></label>
						<label id="num_workers_online" class="text-sm"></label>
					</div>

					<!-- Console Output -->
					<p class="label mt-5">Console Output</p>
					<textarea readonly id="infoBox" class="rounded bg-gray-400 mb-4 w100 p-4 border-none text-sm text-aime_blue">&gt;_</textarea>

					<div id="mediaOutputContainer" class="w">
						<p class="label mt-5">Media Output</p>
						<div class="media-controls-container flex items-center" id = "media-controls">
							<video id="mediaPlayerOutput" controls class="rounded-lg w100 hidden" disabled>
								Your browser does not support the video element.
								<track id="mediaSubtitles" kind="subtitles" srclang="en" label="English" default>
							</video>
					</div>
					<div id="media-fileinfo-section" class="mt-4"></div>

					<!-- Subtitle Player -->
					<div id="subtitlePlayer" class="mt-4 w-full text-center text-sm font-mono text-black bg-white py-2 rounded-md hidden">
						<span id="subtitleText"></span>
					</div>


					<!-- Text Output -->
					<p class="label mt-5">Text Output</p> 
					<button id="downloadButton" type="button" alt="Click to download media file" class="bg-white hover:bg-aime_blue active:bg-aime_darkblue text-aime_darkblue hover:text-white font-bold py-2 px-2 ml-2 rounded-lg hidden" onclick="downloadHandler();">
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
							<path stroke-linecap="round" stroke-linejoin="round" d="M12 3v13.5m0 0L7.5 12m4.5 4.5l4.5-4.5M12 18.75V21M9.75 21H14.25"></path>
						</svg>
					</button>
					<div id="downloadLinkContainer" class="mt-5"></div>
				</div>
					<textarea readonly id="textOutput" class="rounded bg-gray-400 mb-4 w100 p-4 border-none text-sm"></textarea>
				</div>
			</div> <!-- /END RIGHT COLUMN -->

		</div> <!-- /END #layout -->
	</div> <!-- /END pl-5 -->

	<div class="flex justify-end">
		<button id="scrollToTopBtn" class="ml-auto bg-aime_green hover:bg-aime_blue active:bg-aime_blue mb-2 p-2 rounded-full cursor-pointer md:hidden">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
				<path fill-rule="evenodd" d="M11.47 10.72a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06L12 12.31l-6.97 6.97a.75.75 0 0 1-1.06-1.06l7.5-7.5Z" clip-rule="evenodd" />
				<path fill-rule="evenodd" d="M11.47 4.72a.75.75 0 0 1 1.06 0l7.5 7.5a.75.75 0 1 1-1.06 1.06L12 6.31l-6.97 6.97a.75.75 0 0 1-1.06-1.06l7.5-7.5Z" clip-rule="evenodd" />
			</svg>
		</button>
	</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</html>

{% endblock %}