/__pycache__/
/bin/
/lib/
.cache/
pyvenv.cfg
/venv/
/share/
/lib64
/API_Worker_Interface.egg-info/
api_worker_interface/__pycache__/
api_server/__pycache__/
api_test/__pycache__/
api_test/geckodriver.log
api_server/log_api_server.log
/endpoints/stable_diffusion/worker_implementation/src/taming-transformers/data/
/endpoints/stable_diffusion/worker_implementation/stable-diffusion-v1-5-emaonly/
/endpoints/stable_diffusion/worker_implementation/outputs/img2img-samples/
/endpoints/stable_diffusion/worker_implementation/outputs/txt2img-samples/
/endpoints/stable_diffusion/worker_implementation/src/taming-transformers/taming_transformers.egg-info/
/endpoints/stable_diffusion/worker_implementation/latent_diffusion.egg-info/
/endpoints/stable_diffusion/worker_implementation/src/clip/clip.egg-info/
endpoints/stable_diffusion/worker_implementation/data/inpainting_examples/
!.gitignore
*.pyc
frontend/static/_compiled_/*
