/__pycache__/
/bin/
/lib/
.cache/
pyvenv.cfg
/venv/
/share/
/lib64
api_server/__pycache__/
api_test/__pycache__/
api_test/geckodriver.log
api_server/log_api_server.log
!.gitignore
*.pyc
frontend/static/_compiled_/*
docs/build/doctrees/*
