sanic==23.12.1 
aiohttp==3.9.0
aiofiles==23.2.1
requests==2.31.0
toml==0.10.2
pillow==10.1.0
Jinja2==3.1.2
sanic-sass==0.1.0
markdown==3.5.1
Pygments==2.17.0

aiomcache==0.8.2   # New for our session cache