# AIME ML API Endpoint Configuration File

[ENDPOINT]
title = "Example API"
name = "example_api"
description = "Example AIME ML API to do demonstrate all know input and output types"
methods = "GET, POST"
version = 0

[USER]


[WORKER]
job_type = "example_worker"
auth_key = "869a93805a301f8a41e0610129a72b19"
			
[INPUTS]
text.type = "string"
text.default = ""
text.required = false

prompt = { type = "string", default = "*nothing*", required = false }

sleep_duration.type = "float"
sleep_duration.minimum = 0.0
sleep_duration.maximum = 60.0
sleep_duration.required = true

progress_steps.type = "integer"
progress_steps.minimum = 0
progress_steps.maximum = 100
progress_steps.default = 0


[SESSION]
[SESSION.VARS]
# variables that should be kept in the session between calls and are 
# provided to the worker as additional inputs and outputs
counter = { type = "integer", default = 0 }

[PROGRESS]
status = { type = "string" }

[OUTPUTS]
text = { type = "string" }

[HTML]
'/example_api/index.html' = { file = 'frontend/index.html' }
'/static' = { file = 'frontend/static' }