#chat_log {
    width: 700px;
    height: 300px;
    padding: 10px;
    color: #DAF7A6;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.7);
}

#chat_box {
    margin-top: 10px;
    margin-right: 10px;
    float:left;
    
}

#chat_input {
    width: 600px;
    float:left;

    padding: 10px;
    color: aqua;
    font-size: 15px;
    font-family: monospace;

    background-color: rgba(0, 0, 0, 0.7);
}

#chat_send {
    width: 100px;
    padding: 10px;
    font-size: 15px;
}

.slidecontainer {
    padding: 5px;
  }
  