#info_box {
    float:top;
    
}

#prompt_input {
    width: 600px;
    float:left;

    padding: 10px;
    color: aqua;
    font-size: 15px;
    font-family: monospace;

    background-color: rgba(0, 0, 0, 0.7);
}

#prompt_send {
    width: 100px;
    padding: 10px;
    font-size: 15px;
}

.slidecontainer {
    padding: 5px;
  }