# AIME API Endpoint Configuration File
#
# Copyright (c) AIME GmbH and affiliates. Find more info at https://www.aime.info/api
#
# This software may be used and distributed according to the terms of the MIT LICENSE

[ENDPOINT]
title = "Tortoise TTS"
name = "tts_tortoise"
description = "Tortoise TTS high quality text to speech API"
methods = ["GET", "POST"]
version = 0

[WORKER]
job_type = "tts_tortoise"
auth_key = "5317e305b50505ca2b3284b4ae5f65a5"

[CLIENTS]
client_request_limit = 0
provide_worker_meta_data = true	# default is false

# client default authorization and authentication method (overwrites the value of server configuration)
# Available authentication: None, User, IP, Pubkey
# authentication = "User"
# Available authorization: None, Key
# authorization = "Key"
# authorization_keys = { "aime" = "6a17e2a5b70603cb1a3294b4a1df67da" }


[SESSION]
# variables that should be kept in the session between calls and provided to the worker as additional inputs

[INPUTS]
text.type = "string"

language.type = "selection"
language.default = "eng"
language.supported = [
    "eng"
]

voice.type = "selection"
voice.default = "train_grace"
voice.supported = [
    "train_grace", "emma", "angie", "daniel", "freeman", "jlaw", "deniro", "train_atkins", "train_daws", "train_dreams", "train_empire", "train_kennard", "train_lescault", "train_lescault", "train_mouse"
]

preset.type = "selection"
preset.default = "ultra_fast"
preset.supported = [
    "ultra_fast", "fast", "standard", "high_quality"
]

stream_chunk_size.type = "integer"
stream_chunk_size.default = 40
stream_chunk_size.min = 10
stream_chunk_size.max = 200

temperature.type = "float"
temperature.default = 0.8
temperature.min = 0.0
temperature.max = 1.0

length_penalty.type = "float"
length_penalty.default = 1.0
length_penalty.min = -10.0
length_penalty.max = 10.0

repetition_penalty.type = "float"
repetition_penalty.default = 2.0
repetition_penalty.min = 1.0
repetition_penalty.max = 10.0

top_p.type = "float"
top_p.default = 0.8
top_p.min = 0.0
top_p.max = 1.0

max_mel_tokens.type = "integer"
max_mel_tokens.default = 500
max_mel_tokens.min = 0
max_mel_tokens.max = 600

cvvp_amount.type = "float"
cvvp_amount.default = 0.0
cvvp_amount.min = 0.0
cvvp_amount.max = 1.0

[OUTPUTS]
audio_output.type = "audio"
audio_output.format = "wav"
error.type = "string"


[PROGRESS]
stream_buffer = true

    [PROGRESS.OUTPUTS]
    audio_output.type = "audio"
    audio_output.format = "wav"

[STATIC]
"/tts-tortoise/" = { file = "index.html" }
"/tts-tortoise/static/js/tailwind.js" = { file = "../../frontend/static/vendor/tailwind/tailwind_335_plugin_forms.min.js" }
"/tts-tortoise/static/js/highlight.js" = { file = "../../frontend/static/vendor/highlight/highlight.min.js" }
"/tts-tortoise/static/js/" = { path = "static/js/" }
"/tts-tortoise/static/css/highlight.css" = { file = "../../frontend/static/vendor/highlight/styles/github.min.css" }
"/tts-tortoise/static/css/style.css" = { file = "static/css/style.css" }
