* {
  padding: 0;
  margin: 0;
}

body {
  margin: 1rem;
  padding: 1rem;
  font-family: sans-serif;
  max-width: 28rem;
  margin: 0 auto;
  position: relative;
}

h1 {
	font-size: 1.5rem;
}

button {
  flex-grow: 1;
  height: 1.5rem;
  max-width: 4rem;
  border: none;
  border-radius: 0.15rem;
  background: #ed341d;
  margin-left: 2px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color:#ffffff;
  font-weight: bold;
  font-size: 0.7rem;
  border-radius: 25px;
}
button:hover, button:focus {
  outline: none;
  background: #c72d1c;
}
button::-moz-focus-inner {
  border: 0;
}
button:active {
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.2);
  line-height: 3rem;
}
button:disabled {
  pointer-events: none;
  background: lightgray;
}
button:first-child {
  margin-left: 0;
}
audio {
  display: block;
  width: 100%;
  margin-top: 0.2rem;
}
li {
  list-style: none;
  margin-bottom: 1rem;
}

audio { 
  width: 270px;
  border-radius: 25px;
  transform: scale(0.85);
}

.drop-area {
	margin: 1em auto;
  	
}
#dropZone {
  border: 2px dashed #bbb;
  -webkit-border-radius: 5px;
  border-radius: 25px;
  padding: 50px;
  text-align: center;
  font-size: 1.5em;
  color: #bbb;
  background: rgba(253, 253, 253, 0.7);
}
#dropZone.dropzone-hover {
	background: rgba(220, 230, 208, 0.7);
	color: #44b933;
	border: 2px dashed #5ac121;
}
.no-event {
	pointer-events: none;
}

.controlBar {

}

.instructions {
	margin-top: 2em;
	margin-bottom: 1em;
}

.recording-description,
.recording-link {
	margin-top: 0.5em;
	margin-left: 1.5em;
}

.upload-link {

}

#controls {
  display: flex;
  justify-content: center;
  margin: 2rem auto 1rem;
}

#formats {
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  color: #aaa;
 /* font-size: 80%;*/
}


#allRecordings {
	 margin-top: 2.5rem;
}

#recordingsList {

}