#info_box {
    width: 512px;
    padding: 10px;
}

#prompt_input {
    width: 512px;
    float:left;

    padding: 10px;
    color: aqua;
    font-size: 15px;
    font-family: monospace;

    background-color: rgba(0, 0, 0, 0.7);
}

#prompt_send {
    width: 100px;
    padding: 10px;
    font-size: 15px;
}

#progress_container {
    clear: left;
}

#image_container {
}

#progress_bar {
    width: 480px;
}

#frame_center {
    padding: 10px;
    display: inline-block;    
    float: left;
}

#frame_right {
    padding: 10px;    
    display: inline-block;    
}

.slidecontainer {
    padding: 5px;
}
