@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?7pso16');
  src:  url('../fonts/icomoon.eot?7pso16#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?7pso16') format('truetype'),
    url('../fonts/icomoon.woff?7pso16') format('woff'),
    url('../fonts/icomoon.svg?7pso16#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 100;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(../fonts/OpenSans/OpenSansLight.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans'), local('OpenSans'), url(../fonts/OpenSans/OpenSansRegular.ttf) format('ttf');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(../fonts/OpenSans/OpenSansSemibold.ttf) format('ttf');
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

  .icon-headphones:before {
    content: "\e910";
  }
  .icon-mic:before {
    content: "\e91e";
  }
  .icon-play:before {
    content: "\ea15";
  }
  .icon-pause:before {
    content: "\ea16";
  }
  .icon-stop:before {
    content: "\ea17";
  }
  .icon-happy:before {
    content: "\e9df";
  }
  .icon-sleepy:before {
    content: "\e9fd";
  }
  .icon-cross:before {
    content: "\ea0f";
  }
  .icon-checkmark:before {
    content: "\ea10";
  }


body {
  background-color: #000;
  font-family: 'Open Sans';
  font-weight: 300;
  color:#fff;
}


#page-wrapper{
  display: table;
  width:100%;
  height: 100%;
}

#controls {
  position: absolute;
  display: table;
  width:100%;
  height: 100%;
  z-index: 99999;
}

#canvas {
  position: absolute;
  opacity: 0.5;
}


.waveform__canvas {
  width: 100%;
  position: absolute;
  opacity: 0.2;
  /*background-color: #fff;*/
}

#spectrogram-canvas {
    height: 256px;
    position: absolute;
    top:0;
    right: 0;
}

#messages {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
  pointer-events: none
  z-index: 99;
}

#result-wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}
  #result {

    pointer-events: none;
    background-color: #0093FF;
    color: #000;
    transition: .4s;
    margin: 0 auto;
    padding: 10px 15px;
 
    font-size: 32px;
    line-height: 35px;
    /*display: inline-block;*/

    width: 0%;
    height: 0%;
    border-radius: 10%;
    box-shadow: 0px 0px 0px 0px rgba(0, 147, 255, 0.0);
    opacity: 0;

    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;

  }
  #result.sending-data {
    -webkit-animation: sending-data 0.4s ease-out; /* Safari 4+ */
    -moz-animation:    sending-data 0.4s ease-out; /* Fx 5+ */
    -o-animation:      sending-data 0.4s ease-out; /* Opera 12+ */
    animation:         sending-data 0.4s ease-out; /* IE 10+, Fx 29+ */

    width: 10%;
    height: auto;
    border-radius: 2%;
    opacity: 1;
    box-shadow: 0px 0px 0px 0px rgba(0, 147, 255, 0.0); 
  }

  #result.sending-data #msg-system {
    font-size: 12px;
    line-height: 16px;
  }

  #result.sending-data #msg-result {
    margin: 0;
    border-top: none;
    padding-top: 0;
  }

#msg-result {
  margin: 15px 0;
  border-top: 1px solid;
  padding-top: 10px;
}

#result-data {
  position: absolute;
  top: 15px;
  left: 15px;
  max-width: 25%;
  max-height: 100%;
  height: 100%;
}

#logits.empty,
#resultlist.empty {
  background-color: #000;
  opacity: 0.0;
}

#logits {
  font-size: 18px;

  color: #000; 
  padding: 15px 21px;
  border-radius: 4px;
  background-color: #1c1c1c;
  opacity: 1.0;

  max-height: 40%;
  /*overflow-y: auto;*/
  overflow: hidden;

  -webkit-transition:   opacity background-color 300ms linear;
  -ms-transition:       opacity background-color 300ms linear;
  transition:           opacity background-color 300ms linear;
}

#resultlist {
  font-size: 15px;
/*  position: absolute;
  top: 75px;
  left: 15px;*/
  color: #0093ff; /*#00b706;*/
  padding: 15px 21px;
  border-radius: 4px;
  background-color: #1c1c1c;
  opacity: 1.0;
  margin-top:10px;

  max-height: 100%;
  /*overflow-y: auto;*/
  overflow: hidden;
  
  -webkit-transition:   opacity background-color 300ms linear;
  -ms-transition:       opacity background-color 300ms linear;
  transition:           opacity background-color 300ms linear;
}
  .possible-result {
    margin-bottom: 15px;
  }

  .possible-result span{
    margin-right: 10px;
    font-weight: initial;
  }

  .decoder-0 {
    opacity:1.0;
  }
  .decoder-1 {
    opacity:0.9;
  }
  .decoder-2 {
    opacity:0.8;
  }
  .decoder-3 {
    opacity:0.7;
  }
  .decoder-4 {
    opacity:0.6;
  }
  .decoder-5 {
    opacity:0.5;
  }
  .decoder-6 {
    opacity:0.4;
  }
  .decoder-7 {
    opacity:0.4;
  }
  .decoder-8 {
    opacity:0.4;
  }
  .decoder-9 {
    opacity:0.3;
  }

@-moz-keyframes sending-data {
  0%   { 
    opacity: 0; 
    transform: scale(0.1); 
    box-shadow: 0px 0px 0px 1px rgba(0, 27, 46, 0.5); 
    width: 0%;
    height: 0%;
    border-radius: 10%;
  }
  50%   { 
    opacity: 1; 
    transform: scale(1.2); 
    width: 20%;
    height: auto;
    box-shadow: 0px 0px 0px 90px rgba(0, 147, 255, 0.15); 
  }
  100% { 
    transform: scale(1.0); 
    box-shadow: 0px 0px 0px 0px rgba(0, 147, 255, 0.0); 
    width: 10%;
    height: auto;
    border-radius: 2%;
  }
}

/*@-webkit-keyframes pulse {
@-o-keyframes pulse {
@keyframes pulse {*/

  #result.morphed {
    -webkit-animation: btn-morph 0.4s ease-out; /* Safari 4+ */
    -moz-animation:    btn-morph 0.4s ease-out; /* Fx 5+ */
    -o-animation:      btn-morph 0.4s ease-out; /* Opera 12+ */
    animation:         btn-morph 0.4s ease-out; /* IE 10+, Fx 29+ */

    width: 40%;
    height: auto;
    border-radius: 2%;
    opacity: 1;
    box-shadow: 0px 0px 0px 0px rgba(0, 147, 255, 0.0); 
  }



@-moz-keyframes btn-morph {
  0%    { opacity: 0; transform: scale(1); box-shadow: 0px 0px 0px 1px rgba(0, 27, 46, 0.5); width: 0%;height: 0%;border-radius: 10%;}
  50%   { opacity: 1; transform: scale(1.2); width: 50%;height: 100%;box-shadow: 0px 0px 0px 90px rgba(0, 147, 255, 0.15); }
  100%  { transform: scale(1.0); box-shadow: 0px 0px 0px 0px rgba(0, 147, 255, 0.0); width: 40%;height: auto;border-radius: 1%;}
}
@-webkit-keyframes pulse {
  0%    { opacity: 0; transform: scale(1); box-shadow: 0px 0px 0px 1px rgba(0, 27, 46, 0.5); width: 0%;height: 0%;border-radius: 10%;}
  50%   { opacity: 1; transform: scale(1.2); width: 50%;height: 100%;box-shadow: 0px 0px 0px 90px rgba(0, 147, 255, 0.15); }
  100%  { transform: scale(1.0); box-shadow: 0px 0px 0px 0px rgba(0, 147, 255, 0.0); width: 40%;height: auto;border-radius: 1%;}
}
@-o-keyframes pulse {
  0%    { opacity: 0; transform: scale(1); box-shadow: 0px 0px 0px 1px rgba(0, 27, 46, 0.5); width: 0%;height: 0%;border-radius: 10%;}
  50%   { opacity: 1; transform: scale(1.2); width: 50%;height: 100%;box-shadow: 0px 0px 0px 90px rgba(0, 147, 255, 0.15); }
  100%  { transform: scale(1.0); box-shadow: 0px 0px 0px 0px rgba(0, 147, 255, 0.0); width: 40%;height: auto;border-radius: 1%;}
}
@keyframes pulse {
  0%    { opacity: 0; transform: scale(1); box-shadow: 0px 0px 0px 1px rgba(0, 27, 46, 0.5); width: 0%;height: 0%;border-radius: 10%;}
  50%   { opacity: 1; transform: scale(1.2); width: 50%;height: 100%;box-shadow: 0px 0px 0px 90px rgba(0, 147, 255, 0.15); }
  100%  { transform: scale(1.0); box-shadow: 0px 0px 0px 0px rgba(0, 147, 255, 0.0); width: 40%;height: auto;border-radius: 2%;}
}

  #msg-system {
    /*font-weight: 600;*/
    font-style: italic;
    font-size: 32px;
    line-height: 35px;
    color: #000;
  }

  .btn-vote {
    width: 74px;
    height: 74px;
    display: inline-block;
  }

  .btn-vote.vote-yes {
    background-color: green;
  }
  .btn-vote.vote-nope {
    background-color: red;
  }

#resetButton {
  position: absolute;
  top: 10px;
  right: 20px;
  background-color: #ffffff8f;
  border: none;
  padding: 4px 11px;
  border-radius: 15px;
  cursor: pointer;
  color: #000;
}
#resetButton:hover {
  background-color: #0093ff;
}

.button-wrapper {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  position: relative;
  top: -21px;
  z-index: 0;
}

#recordButton {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  width: 200px;
  height: 200px;
  line-height: 120px;
  border-radius: 50%;
  border: solid 3px #fff;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  transition: .4s;
  cursor: pointer;

  font-size: 4em;
  font-weight: 100;
  font-variant: no-contextual;
  text-transform: uppercase;

  display: block;
  margin: 0 auto;
  opacity: 0.2;

  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0)

  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}
#recordButton:enabled {
  opacity: 1.0;
}
#recordButton.recording {
  background-color: #FF000052;
  border-color: #FF0000;
  color: #FF0000;
  box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0.0)

  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1); /* Safari 4+ */
  -moz-animation:    pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1); /* Fx 5+ */
  -o-animation:      pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1); /* Opera 12+ */
  animation:         pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1); /* IE 10+, Fx 29+ */

}
#recordButton.recording:hover:enabled {
  background-color: #3F0000;
  border-color: #FF0000;
}

#recordButton.playback,
#recordButton.playback:hover:enabled {
  background-color: #86fc86;
  border-color: #86fc86;
  color: #fff;
}

#recordButton:hover:enabled {
  background-color: #001B2E;
  border: solid 3px #fff;
  border-color: #0093FF;
  color:#C6E7FF;
}

#recordButton:focus{
    outline: none;
}
.disabled{
  cursor: not-allowed! important;   
}

.hidden {
  display:none;
  visibility: hidden;
}


@-webkit-keyframes pulse {
  0%   { transform: scale(.98); box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0.0); }
  50%   { opacity: 1; transform: scale(1); box-shadow: 0px 0px 0px 20px rgba(255, 0, 0, 0.15); }
  100% { transform: scale(.98); box-shadow: 0px 0px 0px 90px rgba(255, 0, 0, 0.0); }
}
@-moz-keyframes pulse {
  0%   { transform: scale(.98); box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0.0); }
  50%   { opacity: 1; transform: scale(1); box-shadow: 0px 0px 0px 20px rgba(255, 0, 0, 0.15); }
  100% { transform: scale(.98); box-shadow: 0px 0px 0px 90px rgba(255, 0, 0, 0.0); }
}
@-o-keyframes pulse {
  0%   { transform: scale(.98); box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0.0); }
  50%   { opacity: 1; transform: scale(1); box-shadow: 0px 0px 0px 20px rgba(255, 0, 0, 0.15); }
  100% { transform: scale(.98); box-shadow: 0px 0px 0px 90px rgba(255, 0, 0, 0.0); }
}
@keyframes pulse {
  0%   { transform: scale(.98); box-shadow: 0px 0px 0px 0px rgba(255, 0, 0, 0.0); }
  50%   { opacity: 1; transform: scale(1); box-shadow: 0px 0px 0px 20px rgba(255, 0, 0, 0.15); }
  100% { transform: scale(.98); box-shadow: 0px 0px 0px 90px rgba(255, 0, 0, 0.0); }
}

#timer-display {
  font-size: 18px;
  font-weight: 300;
  width: 100%;
  text-align: center;
  color: #f00;
  margin-bottom: 10px;
  min-height: 27px;
}


#audio-content {
  width: 100%;
  display: flex;
  align-items: center;
}

#icon-play {
  color: #0093ff;
  font-size: 35px;
  margin-right: 10px;
  opacity: 0.7;
}
#icon-play:hover {
  transform: scale(1.1);
}

.waveform-image {
  width: 100%;
  object-fit: cover;
  height: 60px;
}

