# AIME API Endpoint Configuration File
#
# Copyright (c) AIME GmbH and affiliates. Find more info at https://www.aime.info/api
#
# This software may be used and distributed according to the terms of the MIT LICENSE

[ENDPOINT]
title = "Stable Diffusion XL Img2img"
name = "stable_diffusion_xl_img2img"
description = "Stable Diffusion XL Img2img example API"
methods = ["GET", "POST"]
version = 0

[WORKER]
job_type = "stable_diffusion_xl_img2img"
auth_key = "5b07e305b50505ca2b3284b4ae5f65d8"

[INPUTS]
text.type = "string"
text.default = ""
text.required = true

prompt = { type = "string", default = "Yo!", required = false }

strength.type = "float"
strength.minimum = 0.0
strength.maximum = 1.0
strength.default = 0.75

ddim_eta.type = "float"
ddim_eta.minimum = 0.0
ddim_eta.maximum = 10.0
ddim_eta.default = 0.0

n_samples.type = "integer"
n_samples.minimum = 1
n_samples.maximum = 10
n_samples.default = 1

scale.type = "float"
scale.minimum = 1.0
scale.maximum = 20.0
scale.default = 7.5

n_rows.type = "integer"
n_rows.minimum = 0
n_rows.maximum = 10
n_rows.default = 0

ddim_steps.type = "integer"
ddim_steps.minimum = 1
ddim_steps.maximum = 100
ddim_steps.default = 50

image.type = "image" 
image.size = { minimum = [512, 512], maximum = [1024, 1024], align = [32, 32], aspect_ratio_min = 0.5, aspect_ratio_max = 1.5, auto_convert = true, resize_method = "crop"}
image.aspect_ratio_min = 0.5
image.aspect_ratio_max = 1.5
image.option_convert_bw = false 
image.color_space = { supported = [ "RGB" ], default = "RGB", auto_convert = true }
image.format = { supported = [ "png" ], default = "png", auto_convert = true }

client_session_auth_key.type = 'string'

[SESSION]
# variables that should be kept in the session between calls and provided to the worker as additional inputs

[PROGRESS]


[OUTPUTS]
image = {type = "image", format = 'PNG', color_space = "RGB"}
info = {type = "string"}
# implizit always: request_duration, job_duration

[HTML]
'/stable_diffusion_xl_img2img.html' = { file = 'img2img.html' }
'/stable_diffusion_xl_img2img.css' = { file = 'img2img.css' }
